# Modify table data using UPDATE

In [ ]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.6 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [ ]:
import pymysql

In [ ]:
con=pymysql.connect(host='mysql-python-ethan-python.c.aivencloud.com',port=26428,user='avnadmin',password='AVNS_tcr4f3ZnICCfhmNruwF',database='sharayudb')

In [ ]:
curs=con.cursor()

**Update employee salary**

In [ ]:
no=int(input('Enter employee number : '))
newsal=float(input('Enter new salary : '))
cnt=curs.execute("update employees set salary=%.2f where empno=%d" %(newsal,no))
#print(cnt)
con.commit()
if cnt==1:
  print('Salary updated successfully')
else:
  print('employee not found')

Enter employee number : 101
Enter new salary : 45000
Salary updated successfully

**Change employee location**

In [ ]:
no=int(input('Enter employee number : '))
newloc=input('Enter new location : ')
cnt=curs.execute("update employees set location='%s' where empno=%d" %(newloc,no))
#print(cnt)
con.commit()
if cnt==1:
  print('location updated successfully')
else:
  print('employee not found')

Enter employee number : 102
Enter new location : kolkata
location updated successfully

**Deposit amount in bank account**

In [ ]:
no=int(input('Enter account number : '))
amt=float(input('Enter deposit amount :'))

cnt=curs.execute("update accounts set balance=balance+%.2f where accno=%d" %(amt,no))
con.commit()
if cnt==1:
  print('balance updated successfully')
else:
  print('account does not exist')

Enter account number : 1075
Enter deposit amount :2500
account does not exist

**Withdraw amount from bank account**

In [ ]:
no=int(input('Enter account number : '))
amt=float(input('Enter withdraw amount :'))

try:
  cnt=curs.execute("update accounts set balance=balance-%.2f where accno=%d" %(amt,no))
  con.commit()
  if cnt==1:
    print('balance updated successfully')
  else:
    print('account does not exist')
except:
  print('insufficient balance')

Enter account number : 1052
Enter withdraw amount :2000
balance updated successfully

In [ ]:
con.close()